<!doctype html>
<html lang="en">
  {{>Head}}
  <body>
<!-- Navbar start -->
{{>Navbar}}

  <!-- Navbar end  -->

  <!-- main Home Page start  -->
  <div class="container-fluid main_div">
      <div class="container">
<section>
<div class="row">
  <div class="col-md-6 col-12 right_side_div">
    <figure>
      <img src="https://static.vecteezy.com/system/resources/previews/012/954/841/original/beautiful-dark-boy-smiling-icon-kid-s-head-with-happy-emotions-flat-cartoon-illustration-isolated-on-white-background-free-vector.jpg">
      
    </figure>
  </div>
  <div class="col-md-6 col-12 left_side_div align-items-center">
      <h2>Hello, i'm Hamad Ahmad</h2>
      <h1>I'm a Programmer</h1>
      <button class="btn pt-5 border-0">
        <a href="/aboutme" class="mybtn">About Me</a>
      </button>
  </div>
</div>
</section>
</div>
  </div>

  <!-- footer start -->
 {{>Footer}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>