  <!-- footer start -->
  <footer class="footer">
    <div class="conatiner-fluid">
      <div class="footer_setting">
        <div class="row">
<div class="col-12">

  <h5 class="footer_setting"> copyright &COPY; By Hamad Mirza</h5>

</div>
        </div>
      </div>
    </div>
  </footer>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/index.js"></script>
  {{!-- footer end  --}}